/*
	Jack Luo Website by Jack
	www.jack-luo.com | @thejackluo
*/

#gameCanvas {
  width: 80vw;
  background-color: red;
  display: grid;
  height: 45vw;
  max-width: 800px;
  max-height: 450px;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

#flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#policy {
  grid-column: 10/-1;
  background-color: blue;
  grid-row: 1/-1;
}

#infoBar {
  grid-row: 7/-1;
  grid-column: 1/10;
  background-color: green;
}
